prefer-no-csd

spawn-at-startup "xwayland-satellite"

environment {
    DISPLAY ":0"
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"