[Desktop Entry]
Version=1.0
Name=System
GenericName=System
Comment=Just used for fancy notification
Icon=applications-system
Terminal=false
Type=Application
Categories=Utility;Settings;
Keywords=units;services;systemd;session;
