@font-face {
  font-family: 'EmojiFont';
  src: local('Segoe UI Emoji');
  unicode-range: U+1F300-1F5FF, /* Miscellaneous Symbols and Pictographs */
                 U+1F600-1F64F, /* Emoticons */
                 U+1F680-1F6FF, /* Transport and Map Symbols */
                 U+2600-26FF,   /* Miscellaneous Symbols */
                 U+2700-27BF,   /* Dingbats */
                 U+FE00-FE0F;   /* Variation Selectors */
}

* {
    font-family: "gg sans", "EmojiFont", sans-serif;
}