spawn-sh-at-startup "sh -c $(wlsunset -t 3000 -T 3500)"
spawn-sh-at-startup "~/.config/niri/scripts/wallpaper.sh"
spawn-sh-at-startup "~/.config/eww/launch_eww.sh"
spawn-sh-at-startup "sh -c steam"
spawn-at-startup "zapzap"
spawn-at-startup "signal-desktop"
spawn-at-startup "copyq"
spawn-sh-at-startup "sh -c $(killall swaync; swaync)"
spawn-at-startup "blueman-applet"